.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='#') Max Mustermann
            &nbsp;2013

script(src="/js/jquery.js")
script(src="/js/bootstrap.min.js")
script(src='/js/modern-business.js')

block footer
