.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p Boilerplate created by &nbsp;
            a(href='http://www.futurestud.io') Future Studio
            | &nbsp; 2014
            | &nbsp; &bullet; &nbsp;
            | Made with &nbsp;
            i.fa.fa-heart.icon-heart

script(src="/js/jquery.js")
script(src="/js/bootstrap.min.js")
script(src='/js/modern-business.js')

block footer
