extends layout

block content

    div.section-colored.text-center
        div.container
            div.row
                div.col-lg-12
                    h2 Account deleted :(
                    p Goodbye. Please let us know if there is something we can do better.

